.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}
@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}
* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(124, 124, 124, 0.5);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
body {
    -webkit-tap-highlight-color: transparent;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.menu a {
    text-decoration: none;
    color: #000;
}
.menu a:hover {
    color: #666;
}
.menu li {
    list-style-type: none;
}
.menu {
    position: fixed;
    bottom: 23%;
    right: 20%;
    width: 150px;
    height: 192px;
    z-index: 101;
    display: none;
    text-align: center;
    line-height: 46px;
    color: #333;
    background-color: rgba(255,255,255,0.6);
    border-radius: 1em;
}
.menu.show {
    display: block;
}
.menu a {
    display: block;
}
.menu li::after {
    content: "";
    display: block;
    border-bottom: solid 0.8px rgba(0,0,0,0.2);
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.menu li:last-child::after {
    display: none;
}
.menu li:first-child {
    margin-top: 5px;
}
.menu-button {
    position: fixed;
    bottom: 8%;
    right: 12%;
    transform: translate(50%, 50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 101;
    font-size: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.8);
}
@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    .menu-button {
        background-color: #f2f2f7;
    }
}
.menu-button span {
    position: absolute;
    display: block;
    width: 21px;
    height: 1px;
    background-color: #333;
    border-radius: 0.5px;
    margin-left: 14.5px;
}
.menu-button input+ span {
    top: 20px;
}
.menu-button span:last-child {
    top: 30px;
}
.menu-button span {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.menu-button input:checked+ span {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
}
.menu-button input:checked+span+ span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 25px;
}
.menu-button input {
    display: none;
}
#blur {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(124, 124, 124, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    .menu {
        background-color: #f2f2f7;
        -webkit-box-shadow: 0 4px 2rem 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 4px 2rem 2px rgba(0,0,0,0.2);
        box-shadow: 0 4px 2rem 2px rgba(0,0,0,0.2);
    }
    #blur {
        background-color: transparent;
    }
}
#toTop {
    position: fixed;
    bottom: calc(8% + 80px);
    right: 12%;
    transform: translate(50%,50%);
    z-index: 98;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    border-radius: 50%;
    background-color: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    #toTop {
        background-color: #f2f2f7;
    }
}
.menu-button:hover,#toTop:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
#toTop label {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#toTop label span:first-child {
    position: absolute;
    top: 24px;
    left: 14px;
    display: block;
    width: 13px;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
}
#toTop label span:last-child {
    position: absolute;
    top: 24px;
    left: 23px;
    display: block;
    width: 13px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
}
